.main.container,.ui.fluid.container {
    margin-top: 7em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.ui.mashead{
    display: inline-block;
    min-height:350px;
    margin-top: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background: rgb(255,255,255) url('../img/mashead.jpg') repeat center fixed;
    color: black;
    text-align:center;
    box-shadow: black 1px 4px 20px 1px;
}
#exempleRiasec{
    margin-top: 5px;
    width: 100%;
    display: none;
}
#errorMessageCodeClasse, #errorMessageMail, #errorMessageQuestionnaire{
    display: none;
}
@media only screen and (max-width: 320px) {

    #questionnaireForm table{
        text-align: center;
        font-size: 0.8em;
    }
}
.ui.inverted.segment{
    box-shadow: inset black 1px 4px 20px 1px;
}